<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.teamyikezhong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mypage.login.LoginActivity" />
        <activity android:name=".mypage.login.userlogin.LoginRerActivity" />
        <activity android:name=".mypage.login.reg.RegActivity" />
        <activity android:name=".ui.detail.VideosDeailActivity" />
        <activity android:name=".ui.detail.DuanZiDetailActivity" />
        <activity android:name=".mypage.guanzhu.MyFollowActivity" />
        <activity android:name=".mypage.guanzhu.hotfollow.HotFollowActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106856414" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".mypage.collection.CollectionActivity" />
        <activity android:name=".mypage.friends.FriendsActivity" />
        <activity android:name=".mypage.xiaoxi.XiaoXiActivity" />
        <activity android:name=".mypage.login.wangjipass.WjPassActivity" />
        <activity android:name=".mypage.login.wangjipass.ShePassActivity" />
        <activity android:name=".ui.yonghuyemian.YongHuActivity"></activity>
        <activity android:name=".mypage.shezhi.ShezhiActivity" />
        <activity android:name=".mypage.zuopin.MyZuoPinActivity" />
        <activity android:name=".mypage.fabu.FaBuActivity" />
        <activity android:name=".mypage.fabu.duanzi.FaBuDuanActivity" />
        <activity android:name=".mypage.fabu.duanzi.DuanSuccessActivity" />
        <activity android:name=".mypage.fabu.shipin.VideoActivity" />
        <activity android:name=".mypage.zuopin.fragment.BenDiVideoActivity"></activity>
    </application>

</manifest>